include *.json
include *.rst
include *.sh
include *.txt
include *.yaml
include *.yapf
include docs/requirements.txt
include LICENSE
recursive-include docs *.bib
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include docs/_static *.png
recursive-include essm *.yapf
recursive-include tests *.py

prune src
